@import '../../marketplace.css';

.pageTitle {
  text-align: center;
  margin: 1vw auto 5px !important;
  font-size: 1.3rem;
}

eventify-yellow {
  font-weight: 700 !important;
  color: var(--marketplaceColor) !important;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1620px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 10px auto;
  }
}
.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 48px;
  margin-bottom: 24px;
}

.all-categories {
  width: 95%;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 4vh 3vh;
  width: auto;
  margin: 3vh auto;
  height: auto;
}

category {
  display: block;
  align-items: center;
  flex-flow: nowrap;
  padding: 1.4vh 3vh 3vh;
  border-radius: 0.2vh;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 10px 3px rgba(28, 28, 32, 0.03) !important;
  transition: all 0.5s ease;
}

category:hover {
  transform: scale(1.06);
  transition: all 0.2s ease;
  box-shadow: 0 0 10px 3px rgba(28, 28, 32, 0.1);
}

category:active {
  transform: scale(1);
  transition: all 0.2s ease;
  box-shadow: 0 0 15px 5px rgba(28, 28, 32, 0.1);
}

h3 .categoryTitle {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: #4a4a4a;
}

li,
.subcategories {
  color: #999;
  font-weight: 400;
  font-size: 0.9rem !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

subcategory {
  font-family: 'Open Sans' !important;
  font-weight: 600 !important;
  color: #3b3b3b !important;
  font-size: 0.9rem !important;
  line-height: 1.3 !important;
}

a:hover,
subcategory:hover {
  text-decoration: none !important;
  color: var(--marketplaceColorDark) !important;
}

@media (min-width: 1260px) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1660px) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .categories {
    grid-template-columns: 1fr;
  }
}
